veins/subprojects/** linguist-vendored
veins/bin/** linguist-vendored
veins/doc/** linguist-vendored
veins/images/** linguist-vendored
veins/src/scripts/** linguist-vendored

veins/src/veins/base/** linguist-vendored
veins/src/veins/nodes/** linguist-vendored
veins/src/veins/visualizer/** linguist-vendored

veins/src/veins/modules/analogueModel/** linguist-vendored
veins/src/veins/modules/mac/** linguist-vendored
veins/src/veins/modules/messages/** linguist-vendored
veins/src/veins/modules/mobility/** linguist-vendored
veins/src/veins/modules/nic/** linguist-vendored
veins/src/veins/modules/obstacle/** linguist-vendored
veins/src/veins/modules/phy/** linguist-vendored
veins/src/veins/modules/utility/** linguist-vendored
veins/src/veins/modules/world/** linguist-vendored

veins/src/veins/modules/application/traci/Thesis/** linguist-detectable